server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:ergomind;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: create 
    properties:
      hibernate:
        format_sql: true
        hibernate.dialect: org.hibernate.dialect.H2Dialect
        hibernate.hbm2ddl.auto: create
        hibernate.dialect.enable_schema_management: true
  flyway:
    enabled: false
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 0
  # MUDANÇA CRÍTICA: Desativa a execução automática do data.sql
  sql:
    init:
      mode: never

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html